<ion-header>
    <ion-navbar color="azul">
      <ion-title>
        Reserva Manual
      </ion-title>
      
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list padding no-lines>
      <ion-item padding>
        <ion-label color="azul">Selecciona tipo de salón</ion-label>
        <ion-select [(ngModel)]="pTipo" interface="popover">
          <ion-option value="Aula">Aula</ion-option>
          <ion-option value="Cubiculo">Cubículo</ion-option>
        </ion-select>
      </ion-item>

      <ion-item padding>
        <ion-label color="azul">Que tenga:</ion-label>
        <ion-select [(ngModel)]="pInstr">
          <ion-option value="Piano de cola" *ngIf="pTipo == 'Aula'">1 Piano de cola</ion-option>
          <ion-option value="Piano de cola y piano vertical" *ngIf="pTipo == 'Aula'">Piano de cola y Piano vertical</ion-option>
          <ion-option value="Clavinova" *ngIf="pTipo == 'Aula'">1 Clavinova</ion-option>
          <ion-option value="2 Clavinovas" *ngIf="pTipo == 'Aula'">2 Clavinovas</ion-option>
          <ion-option value="Clavinova" *ngIf="pTipo == 'Cubiculo'">Clavinova</ion-option>
          <ion-option value="Piano vertical" *ngIf="pTipo == 'Cubiculo'">Piano vertical</ion-option>
          <ion-option value="Bateria" *ngIf="pTipo == 'Cubiculo'">Batería</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item padding>
        <ion-label color="azul">¿Para cúando?</ion-label>
        <ion-select [(ngModel)]="pDia" interface="popover">
          <ion-option>Hoy</ion-option>
          <ion-option>Mañana</ion-option>
        </ion-select>
      </ion-item>

      <ion-item padding>
        <ion-label color="azul">¿De qué hora a qué hora?</ion-label>
        <ion-select [(ngModel)]="pTiempo">
          <ion-option *ngIf="((horaActual < 6)&&(pDia == 'Hoy'))||(pDia=='Mañana')">6 a 7</ion-option>
          <ion-option *ngIf="((horaActual < 6)&&(pDia == 'Hoy'))||(pDia=='Mañana')">6 a 8</ion-option>
          <ion-option *ngIf="((horaActual < 7)&&(pDia == 'Hoy'))||(pDia=='Mañana')">7 a 8</ion-option>
          <ion-option *ngIf="((horaActual < 7)&&(pDia == 'Hoy'))||(pDia=='Mañana')">7 a 9</ion-option>
          <ion-option *ngIf="((horaActual < 8)&&(pDia == 'Hoy'))||(pDia=='Mañana')">8 a 9</ion-option>
          <ion-option *ngIf="((horaActual < 8)&&(pDia == 'Hoy'))||(pDia=='Mañana')">8 a 10</ion-option>
          <ion-option *ngIf="((horaActual < 9)&&(pDia == 'Hoy'))||(pDia=='Mañana')">9 a 10</ion-option>
          <ion-option *ngIf="((horaActual < 9)&&(pDia == 'Hoy'))||(pDia=='Mañana')">9 a 11</ion-option>
          <ion-option *ngIf="((horaActual < 10)&&(pDia == 'Hoy'))||(pDia=='Mañana')">10 a 12</ion-option>
          <ion-option *ngIf="((horaActual < 11)&&(pDia == 'Hoy'))||(pDia=='Mañana')">11 a 12</ion-option>
          <ion-option *ngIf="((horaActual < 12)&&(pDia == 'Hoy'))||(pDia=='Mañana')">12 a 13</ion-option>
          <ion-option *ngIf="((horaActual < 12)&&(pDia == 'Hoy'))||(pDia=='Mañana')">12 a 14</ion-option>
          <ion-option *ngIf="((horaActual < 13)&&(pDia == 'Hoy'))||(pDia=='Mañana')">13 a 14</ion-option>
          <ion-option *ngIf="((horaActual < 13)&&(pDia == 'Hoy'))||(pDia=='Mañana')">13 a 15</ion-option>
          <ion-option *ngIf="((horaActual < 14)&&(pDia == 'Hoy'))||(pDia=='Mañana')">14 a 15</ion-option>
          <ion-option *ngIf="((horaActual < 14)&&(pDia == 'Hoy'))||(pDia=='Mañana')">14 a 16</ion-option>
          <ion-option *ngIf="((horaActual < 15)&&(pDia == 'Hoy'))||(pDia=='Mañana')">15 a 16</ion-option>
          <ion-option *ngIf="((horaActual < 15)&&(pDia == 'Hoy'))||(pDia=='Mañana')">15 a 17</ion-option>
          <ion-option *ngIf="((horaActual < 16)&&(pDia == 'Hoy'))||(pDia=='Mañana')">16 a 17</ion-option>
          <ion-option *ngIf="((horaActual < 16)&&(pDia == 'Hoy'))||(pDia=='Mañana')">16 a 18</ion-option>
          <ion-option *ngIf="((horaActual < 17)&&(pDia == 'Hoy'))||(pDia=='Mañana')">17 a 18</ion-option>
          <ion-option *ngIf="((horaActual < 17)&&(pDia == 'Hoy'))||(pDia=='Mañana')">17 a 19</ion-option>
          <ion-option *ngIf="((horaActual < 18)&&(pDia == 'Hoy'))||(pDia=='Mañana')">18 a 19</ion-option>
          <ion-option *ngIf="((horaActual < 18)&&(pDia == 'Hoy'))||(pDia=='Mañana')">18 a 20</ion-option>
          <ion-option *ngIf="((horaActual < 19)&&(pDia == 'Hoy'))||(pDia=='Mañana')">19 a 20</ion-option>
        </ion-select>
      </ion-item>
      
    </ion-list>
    <div text-center>
      <button class="sizeD" ion-button color="morado" (click)="buscAulas()" outline icon-end>
        Presiona para buscar aulas
        <ion-icon name="search"></ion-icon>
      </button>  
    </div>
    
  </ion-content>