page-mis-reservas {
    .butBig {
        height: 75px;
        width: 48%;
        border-radius: 20px;
        font-size: 125%;
    }
    .butMed {
        width: 20%;
    }
    .sinRes {
        font-size: 18px;
    }
    .sinResIcon {
        font-size: 50px;
    }
}