<ion-header>
  <ion-navbar ios="light" md="morado">
    <ion-title>
      Reservas
    </ion-title>
    <ion-buttons end>
      <button ion-button large (click)="irToAjustes()">
        Ajustes
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <button ion-button class="butBig" (click)="goChatBot()" color="morado" icon-end>
      ChatBot
      <ion-icon name="chatbubbles"></ion-icon>
    </button>

    <button ion-button class="butBig" (click)="goResevManual()" color="azul" espDer icon-end>
      Reserva <br/>
      Manual
      <ion-icon name="person"></ion-icon>
    </button>
  </div>
  
  <h2>Mis reservas:</h2>
    <ion-list>
      <ion-label *ngIf="myReservas.length == 0" color="gris" text-center padding class="sinRes"> 
        No tienes reservas por el momento
      </ion-label>
      <ion-label *ngIf="myReservas.length == 0" color="gris" text-center padding class="sinResIcon"> 
        <ion-icon name="sad"></ion-icon>
      </ion-label>

      <ion-item ion-item *ngFor="let item of myReservas">
        
        <ion-label>
          Para el día: {{ item.dia.getDate() }}/{{ item.dia.getMonth() }}/{{ item.dia.getFullYear() }}<br/> 
          Aula: {{ item.salon.codigo }} <br/>
          Horario: {{ item.hInicial }} - {{ item.hFinal }}
        </ion-label>
        <button color="danger" ion-button class="butMed" icon-only (click)="metDesrv(item)" item-end round>
          <ion-icon name="close"></ion-icon>
        </button>
        
      </ion-item>
    </ion-list>
  
</ion-content>